
<link href="https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Luckiest+Guy|Satisfy&display=swap" rel="stylesheet">
<div id="homeBody">
    <div id="logo">
        <img src="assets/Persistent_logo.png" style="height:200px;width:200px;"> 
    </div>
    <div class="groupName" style="height:50px;width:800px;">
        <h1>Anti-Errorists</h1>
    </div>
    <div id="problemStatement" style="height:150px;width:800px;border:2px solid black;margin-left:300px;margin-top:50px">
        <h3>Analysis of number of trees to be planted in each ward to reduce pollution.</h3>
    </div>
</div>
