<div class="menuList"><nav class="main-menu">
    <ul>
        <li>
            <a routerLink="">
                <i class="fa fa-bars fa-2x"></i>
                <span class="nav-text">
                    Home
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a routerLink="/ward">
                <i class="fa fa-sign-blank fa-2x"></i> 
                <span class="nav-text">
                    Search by Ward
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a routerLink="/dataSearch">
              <i class="fa fa-sign-blank fa-2x"></i> 
                <span class="nav-text">
                    Search by Data
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a routerLink="/viewData">
              <i class="fa fa-sign-blank fa-2x"></i> 
                <span class="nav-text">
                    View Data
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a routerLink="/about">
              <i class="fa fa-sign-blank fa-2x"></i> 
                <span class="nav-text">
                  About Us
                </span>
            </a>
          
        </li>
        
    </ul>

    
</nav>