#fullPage{
    display:flex;
}

#displayPart{
    margin-left:62px;
    margin-top:0px;
    border:1px solid black;
    position: fixed;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    
}