<div id="sbw" >
        <h1>Search By Ward</h1>
    </div>

    <div id="sbw1" >
            <label for="ward_name">Enter Ward Name</label>
            <input type="text" id='ward_name' name='wardname' required>
            <br/>
            <input type="button" id='getdatabutton' value="Get Data">
    </div>

    <div id="sbw2">
            <label >No of trees available in ward</label>
            <input type="text" id='trees_available' name='trees_available ' >
            <br/>
            <label >No of trees need to be planted</label>
            <input type="text" id='trees_required' name='trees_required ' >
    </div>

    <div id="sbw3">
</div>
